<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548649559153-rb8hiujegfuq93cpl0io26h6d4436spf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548649559153-rb8hiujegfuq93cpl0io26h6d4436spf</string>
	<key>API_KEY</key>
	<string>AIzaSyC_KRwb7bfux2GBMwsHa-JK0z8F_QnUgyE</string>
	<key>GCM_SENDER_ID</key>
	<string>548649559153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glowteams</string>
	<key>PROJECT_ID</key>
	<string>supergrate</string>
	<key>STORAGE_BUCKET</key>
	<string>supergrate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548649559153:ios:b31c8f683c778440f227d0</string>
	<key>DATABASE_URL</key>
	<string>https://supergrate.firebaseio.com</string>
</dict>
</plist>